@model System_rezerwacji_sal.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Rezerwacja</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartReservation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartReservation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndReservation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndReservation)
        </dd>
    </dl>
</div>
